# Backend environment variables

# Secret Keys
FLASK_SECRET_KEY=<insert_your_flask_secret_key_here>
AUTH_SECRET_KEY=<insert_your_auth_secret_key_here>

# Email Configuration
EMAIL=<insert_the_email_to_send_from_here>
EMAIL_PASSWORD=<insert_your_email_password_here>

# Google OAuth Credentials
GOOGLE_CLIENT_ID=<insert_your_google_client_id_here>
GOOGLE_CLIENT_SECRET=<insert_your_google_client_secret_here>

# Stripe
GANDER_SUBSCRIPTION=<insert_your_stripe_product_id_here>
STRIPE_SECRET_KEY=<insert_your_stripe_secret_key_here>
STRIPE_ENDPOINT_SECRET=<insert_your_stripe_endpoint_secret_here>

HOMEPAGE_URL=http://127.0.0.1:8080